{% extends '@Admin/layout_dashboard.html.twig' %}

{% block content %}
    <div id="wrapper">
        <div id="dashboard_create">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">

                </div>
            </div>
        </div>
    </div>
{% endblock %}